$default: rgb(240, 239, 239);
$xdefault: rgb(206, 205, 205);
$gray: rgb(171, 169, 169);
$text--dark: #383d4e;
$primary: #FF9270;
$secondary: #f8dcca;
// $secondary: #FFCEAF;
$dark: #212121;
$extras: #788fdb;
$white: #fff;


// font styles
// $body--text: 'Ubuntu', sans-serif;
$body--text: 'Poppins', sans-serif;
$heading--text: 'Work Sans', sans-serif;
$heading1--text: 'Bungee Spice', cursive;
